beautifulsoup4==4.12.3
bs4
requests==2.31.0
pandas==2.2.0
streamlit==1.30.0
langchain==0.1.9
langchain-community==0.0.22
langchain-huggingface==0.0.2
langchain-groq==0.0.2
markdown==3.6
openpyxl==3.1.2
faiss-cpu==1.7.4
```
